@inject IJSRuntime JSRuntime

<div class="modal fade show" tabindex="-1" style="display: block;" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">@ButtonTitle</h1>
                <button type="button" class="btn-close" @onclick="HandleClose" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @ChildContent
            </div>
            <div class="modal-footer">
                <button type="button" @onclick="HandleClose" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn @ButtonColor">@ButtonTitle</button>
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public string? ButtonTitle { get; set; }

    [Parameter]
    public string? ButtonColor { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public Action Close { get; set; }

    private void HandleClose()
    {
        Close?.Invoke();
    }
}