<div class="modal-backdrop" style="background:rgba(0,0,0,0.6)">
    <div class="modal fade show" tabindex="-1" style="display: block;" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">@ButtonTitle</h1>
                <button type="button" class="btn-close" @onclick="HandleClose" aria-label="Close"></button>
            </div>
                @if (ButtonTitle == "Delete Employee")
                {
                    <div class="modal-body d-flex justify-content-center">
                        @ChildContent
                    </div>
                }
                else
                {
                    <div class="modal-body">
                        @ChildContent
                    </div>
                }
            </div>
    </div>
</div>
</div>



@code {
    [Parameter]
    public string? ButtonTitle { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public Action? Close { get; set; }

    private void HandleClose
    ()
    {
        Close?.Invoke();
    }
}