<!-- Tab Component -->

<div @onclick="SetSelectedTab">@Title @(CasParent.SelectedTab == Title ? "Selected" : "")</div>


@code {

    [CascadingParameter] CasParent CasParent { get; set; }

    [Parameter] public string Title { get; set; }

    void SetSelectedTab()
    {
        CasParent.SetSelectedTab(Title);
    }
}