.page[b-wn05fkv7a0] {
    position: relative;
    display: flex;
    background: var(--primary-color);
}

main[b-wn05fkv7a0] {
    flex: 1;
}

.sidebar[b-wn05fkv7a0] {
    background: var(--secondary-color);
    color:var(--primary-color);
}

.iconLists[b-wn05fkv7a0] {
    list-style: none;
    padding: 0;
    margin: 0;
}

    .iconLists li div[b-wn05fkv7a0] {
        margin-bottom: 5px;
        transition: 0.1s all;
    }

    .iconLists li.active div[b-wn05fkv7a0] {
        color: var(--secondary-color);
        background: var(--primary-color);
        padding: 7px 8px;
        border-radius: 10px;
        transform: rotate(45deg);
        transition: 0.4s all;
    }

        .iconLists li.active div i[b-wn05fkv7a0] {
            transform: rotate(-45deg) translateX(-1px);
            transition: 0.01s all;
        }



ul li:hover[b-wn05fkv7a0] {
    cursor: pointer;
}


@media (max-width:767.5px) {
    .page[b-wn05fkv7a0] {
        flex-direction: column-reverse;
        height:100vh;
    }

    .main[b-wn05fkv7a0] {
        height: 92%;
    }

    .sidebar[b-wn05fkv7a0] {
        width: 100%;
        height: 8%;
        position: sticky;
        bottom: 0;
        border-radius: 20px 20px 0px 0px;
        padding:5px 30px;
        z-index:3;
    }

    
    .sidebar ul li[b-wn05fkv7a0]{
        margin:0px 50px;
        transition:0.4s all;
    }

        .sidebar ul li p[b-wn05fkv7a0] {
            white-space: nowrap;
            transition: 0.4s all;
        }

    .iconLists li.active div[b-wn05fkv7a0] {
        box-shadow: -1px -1px 4px 4px rgb(0,0,0);
        transform: translateY(-31px) rotate(45deg);
        margin: 0;
        transition: 0.4s all;
    }

    .iconLists li.active p[b-wn05fkv7a0] {
        transform: translateY(-10px);
    }

    .dataFunctions[b-wn05fkv7a0] {
        position: absolute;
        right: 12px;
        background: #c5bdf7;
        color: var(--primary-color);
        bottom: 17%;
        width: 100%;
        z-index: 2;
        transition: 0.4s all;
        border-radius:10px;
    }

        .dataFunctions div[b-wn05fkv7a0] {
            padding:20px;
            box-shadow: 0px 0px 5px -1px black;
            transition: 0.4s all;
        }

        .dataFunctions i[b-wn05fkv7a0]{
            font-size:1.2rem;
        }

        .dataFunctions p[b-wn05fkv7a0] {
            margin: 0;
            font-size:0.75rem;
        }
}

@media (min-width:768px){
    .page[b-wn05fkv7a0] {
        flex-direction:row;
        height:100vh;
    }

    .sidebar[b-wn05fkv7a0]{
        width:70px;
        height:100vh;
        position:sticky;
        top:0;
        border-top-right-radius:30px;
        padding:30px 0px;
    }

    .dataFunctions[b-wn05fkv7a0] {
        position: absolute;
        top: 21%;
        left: 70px;
        background: #c5bdf7;
        color: var(--primary-color);
        overflow: hidden;
        transition: 0.4s all;
        border-radius: 10px;
        width:600px;
    }

        .dataFunctions div[b-wn05fkv7a0] {
            padding:15px;
            box-shadow: 0px 0px 5px -1px black;
            transition: 0.4s all;
        }

        .dataFunctions p[b-wn05fkv7a0] {
            margin: 0;
        }

}

@media (max-width:1280px) and
       (max-heigth:800px){
        .page[b-wn05fkv7a0]{
            width:100vw;
            height:100vh;
        }

       
        .dataFunctions div[b-wn05fkv7a0] {
            height: 50px;
            width: 25%;
            box-shadow: 0px 0px 5px -1px black;
            transition: 0.4s all;
        }

        .dataFunctions i[b-wn05fkv7a0] {
            font-size: 1.2rem;
        }

        .dataFunctions p[b-wn05fkv7a0] {
            margin: 0;
            font-size: 0.75rem;
        }
}

@media (max-height:800px) {
    .main[b-wn05fkv7a0] {
        height: 90%;
    }

    .sidebar[b-wn05fkv7a0] {
        height: auto;
    }

    .dataFunctions[b-wn05fkv7a0] {
        bottom: 28%;
    }

    .dataFunctions div[b-wn05fkv7a0]{
        padding:8px;
    }
}

@media (max-width:340px) {
    .sidebar ul li[b-wn05fkv7a0] {
        margin: 0px 20px;
    }
}