@page "/"

<PageTitle>Index</PageTitle>

<div class="container-fluid row">
    <div class="col-4 drapNdrop">
       <div class="card">
           <div class="card-header text-center none">None</div>
           <div class="card-body">
               <div>
                    <p class="py-2 m-0">Make a creating an account profile</p>
                    <i>green</i>
               </div>
               <ul>
                   <li><i>Person</i>Phyu Sin</li>
                   <li><i>Clock</i>3 Hr</li>
               </ul>
               <p>EBS Enterpries / Server</p>
           </div>
       </div>
    </div>
</div>


