<nav class="navbar px-3">

    <a class="navbar-brand">
        <p class="d-md-block d-none m-0">Customer Relationship Management</p>
        <p class="d-md-none d-block m-0">CRM</p>
    </a>

    <div class="ms-auto">
        <button class="position-relative">
            <i class="far fa-bell fa-lg"></i>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                3
            </span>
        </button>
        <button class="mx-1">
            <i class="far fa-user-circle fa-lg"></i>
        </button>
    </div>
</nav>
@code {

}
